@import "../../styles/media-query";

.modal {
  background-color: #202020b4;
}
.hero-content {
  display: flex;
  justify-content: center;
  border-radius: none;

  @include mobile {
    flex-direction: column;
  }
}

.hero-name {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #202020;
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 20px;
  transition: all ease 1s;

  span {
    margin-right: 10px;
  }
}

.hero-img {
  max-width: 300px;
  width: 100%;
  max-height: 300px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.3);
}

.hero-text {
  margin-left: 20px;
  font-family: "Roboto Condensed", sans-serif;
  color: #202020;
  font-weight: 400;
  font-size: 1.6rem;
  max-width: 300px;

  @include mobile {
    margin-left: 0px;
  }

  .favorite {
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: #7e7e7e;
    cursor: pointer;
    &:hover {
      color: #ec1d24;
    }

    &.isFavorite {
      color: #ec1d24;
      &:hover {
        color: #7e7e7e;
      }
    }

    span {
      margin-left: 10px;
      color: #202020;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .list {
    margin-top: 5px;
    display: flex;
    align-items: center;
    color: #7e7e7e;
    cursor: pointer;
    &:hover {
      color: #202020;
    }

    a {
      margin-left: 10px;
      color: #202020;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
